data/bestModels
shit.py
shit2.py
check n beats/
helper codes/
__pycache__/
churnTotResultsNoCv.csv
transformer_from_scratch.py
codeemprium.py
versetaileAnn private notes.md
.git/info/exclude
.coverage
htmlcov
coverage_html
.idea/codeStyles/codeStyleConfig.xml
.idea/vcs.xml
devDocs/tempCodeTry/tempCode.py
