numpy
pandas
pydantic
colorama
tensorboard
coverage
scikit-learn
# for CUDA 11.8 torch on Windows
--find-links https://download.pytorch.org/whl/cu118/torch_stable.html; sys_platform == "win32"
torch; sys_platform == "win32"
torchvision; sys_platform == "win32"
pytorch-lightning; sys_platform == "win32"

# for CUDA 11.8 torch on Linux
--find-links https://download.pytorch.org/whl/cu118/torch_stable.html; sys_platform == "linux"
torch; sys_platform == "linux"
torchvision; sys_platform == "linux"
pytorch-lightning; sys_platform == "linux"

# for MPS accelerated torch on Mac
--pre --extra-index-url https://download.pytorch.org/whl/nightly/cpu; sys_platform == "darwin"
torch; sys_platform == "darwin"
torchvision; sys_platform == "darwin"
pytorch-lightning; sys_platform == "darwin"